builddir/
builddir-cask/
__pycache__/
*.pyc
*.pyo
.*.swp
hack/
flatpak-build/
.flatpak-build/
.flatpak-builder/
.flatpak-repo/
.flatpak-state/
.venv/
.pytest_cache/
.coverage
.benchmarks/
builddir-appimage/
AppDir/
squashfs-root/
.appimage*
app_log.txt
app_log.txt*
Tavern.app/
Tavern-macOS.zip
.token
